@import '@/assets/scss/imports/var';
@import '@/assets/scss/imports/mixins';

.list {
  border: 1px solid $gray;
  overflow: hidden;
  &-item {
    padding: 1.2rem 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    &:hover {
      background: $light-gray;
    }
    h4 {
      margin: 0;
      font-size: 1.2rem;
    }
    small {
      color: $dark-gray;
    }
    .tags {
      display: flex;
      gap: 0.3rem;
      font-size: 0.8rem;
      color: $dark-gray;
    }
  }
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all 0.5s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  &-leave-active {
    position: absolute;
  }
}
