$black: #000;
$white: #fff;
$gray: #ccc;
$light-gray: #dfdfdf;
$blue: #336cfb;
$dark-blue: #1051f5;
$red: #ed5564;
$dark-red: #ed172c;
$green: #83c340;
$dark-green: #62bc01;
$orange: #f57c00;
$dark-orange: #df7000;
