@import '@/assets/scss/imports/var';
@import '@/assets/scss/imports/mixins';

input {
  border: none;
  background: $light-gray;
  width: 100%;
  display: block;
  padding: 10px 15px;
  color: $black;
}
